h1, p {
  font-family: Lato;
}

.front {
  transform-style: preserve-3d;
  height: 100px;
  background-color: rgba(200, 200, 200, 0.5);
  border: 1px solid silver;
  width: 200px;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.joint {
  transform-style: preserve-3d;
  border: 1px solid red;
  position: absolute;
  height: 1px;
  top: 0px;
  left: 0px;  
}

.Disc {
}

.Disc .FrontInner {
  transform-style: preserve-3d;
  height: 100px;
  background-color: rgba(200, 200, 200, 0.5);
  border: 1px solid black;
  width: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
/*  
  z-index: 1000;
*/  
  transform: rotateX(180deg);
}

.bottom {
  transform-style: preserve-3d;
  border: 1px solid blue;
  width: 200px;
  height: 30px;
  background-color: rgba(0, 0, 255, 1.0);
  position: absolute;
  top: 0px;
  left: 0px;
}


.Back {
  transform-style: preserve-3d;
  height: 100px;
  background-color: rgba(200, 200, 200, 0.5);
  border: 1px solid silver;
  width: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1010;
  transform: rotateX(180deg);
}

.BackJoint {
  transform-style: preserve-3d;
  border: 1px solid red;
  position: absolute;
  height: 1px;
  top: 0px;
  left: 0px;
  transform: rotateX(90deg); 
}


.Tank {

}

.Tank .Terrain {
//  display: grid;
  transform-style: preserve-3d;
  position: absolute;
  background-color: antiquewhite;
height: 450px;
  width: 900px;
}

.Tank .Ceiling {
  
  transform-style: preserve-3d;
  position: absolute;
  background-color: rgba(200, 200, 200, 0.1);
  height: 450px;
  width: 900px;
}

.MetalTape .bottom {
  transform-style: preserve-3d;
  border: 1px solid blue;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 255, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
}

.MetalTape .front {
  transform-style: preserve-3d;
  background-color: rgba(200, 200, 200, 0.5);
  border: 1px solid silver;
  height: 100px;
  width: 30px;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1000;
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

.MetalTape .FrontJoint {
  transform-style: preserve-3d;
  border: 1px solid red;
  position: absolute;
  height: 1px;
  top: 0px;
  left: 0px;
}

.MetalTape .Right {
  transform-style: preserve-3d;
  background-color: rgba(200, 200, 200, 0.5);
  border: 1px solid silver;
  height: 300px;
  width: 30px;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1000;
  writing-mode: vertical-lr;
  text-orientation: sideways;
}

.MetalTape .RightJoint {
  transform-style: preserve-3d;
  border: 1px solid red;
  position: absolute;
  height: 1px;
  top: 0px;
  left: 0px;
}

/*
  OpenBoxBed
*/
.OpenBoxBed {
  transform-style: preserve-3d;
  border: 1px solid blue;
  width: 200px;
  height: 30px;
  background-color: rgba(0, 0, 255, 0.5);
  position: relative;
  top: 0px;
  left: 0px;
}

.OpenBoxBed .Joint {
  transform-style: preserve-3d;
  border: 1px solid red;
  position: absolute;
  height: 1px;
  top: 0px;
  left: 0px;
}

.OpenBoxBed .Bed {
  transform-style: preserve-3d;
  height: 100px;
  background-color: rgba(255, 255, 255, 1.0);
  border: 1px solid silver;
  width: 200px;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 900;
}


